@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
}

h4 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

h5 {
    color: rgb(255, 77, 0);
    font-size: 16px;
}

.navigationMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    width: 88vw;
    align-self: flex-start;
    font-family: 'El Messiri', sans-serif;
}

.navigationMenuLogo {
    min-width: 200px;
    filter: invert(100%);
}

.navigationMenuLogo {
    cursor: pointer;
}

.navigationElements {
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navigationElements li {
    display: table-cell;
    padding: 15px 0;
}

.navigationElements a {
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    color: white;
    list-style: none;
    text-align: center;
    transition: 0.1s;
}

.navigationElements a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ff4d00;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navigationElements a:hover {
    color: rgb(255, 77, 0);
}

.navigationElements a:hover:after {
    width: 100%;
    left: 0;
}

.navigationMenuButton {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigationMenuButton button {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    width: 8em;
    color: white;
    font-size: 12px;
    transition: 0.5s;
}

.navigationMenuButtonAnmelden button:hover {
    color: rgb(255, 109, 46);
    cursor: pointer;
}

.navigationMenuButtonRegistrieren button {
    border: 1.5px solid rgb(255, 109, 46);
}

.navigationMenuButtonRegistrieren button:hover {
    cursor: pointer;
    background-color: rgb(255, 109, 46);
}

.navigationMenuButtonMeinAccount button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10em;
}

.navigationMenuButtonMeinAccount img {
    -webkit-filter: invert(100%);
}

.navigationMenuButtonMeinAccount button:hover {
    color: rgb(255, 109, 46);
    cursor: pointer;
}

.searchBarFilterBox {
    min-height: 20em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.searchBarSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarFilterBox h1 {
    color: white;
    text-align: center;
    font-size: 3.5em;
    font-weight: 300;
    font-family: 'Pacifico', cursive;
}

.backgroundImageFilter {
    /* background-image: url("image/sports-car-4815234.jpg"); */
    background-image: url("image/auto_hintergrund.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.filterBoxRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 180px;
    min-width: 750px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.05);
    background-color: white;
}

.filterBoxRight input,
.filterBoxRight select {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 8px;
}

.Marke,
.Modell,
.Preis,
.KilometerBis,
.Erstzulassung,
.btnAngebotSuchenDiv {
    width: 200px;
    height: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.filterBoxRight h2 {
    font-size: 16px;
}

.Marke select {
    width: 150px;
    height: 30px;
    padding-left: 5px;
    transition: 0.3s;
}

.KilometerBis input {
    height: 30px;
    padding-left: 7px;
}

.Modell select {
    width: 150px;
    height: 30px;
    padding-left: 5px;
    transition: 0.3s;
}

.Erstzulassung input {
    height: 30px;
    padding-left: 7px;
}

.Preis input {
    width: 70px;
    height: 30px;
    padding-left: 7px;
}

.Preis {
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.preisAngabe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.btnAngebotSuchen {
    background-color: rgb(255, 77, 0);
    /* background-color: #f63e02; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 7px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: 0;
    border-radius: 8px;
    font-weight: 400;
    transition: 0.3s;
}

.btnAngebotSuchen:hover {
    background-color: rgb(255, 109, 46);
    cursor: pointer;
}

.btnAngebotSuchen img {
    -webkit-filter: invert(100%);
    padding-right: 10px;
}

.topOffer {
    display: grid;
    align-items: center;
}

.topOfferPlace {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topOffersRightTop h2 {
    margin-top: 5px;
}

.topOffers {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: white;
    margin: 30px;
    width: 550px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(194, 194, 194);
    transition: 0.2s;
}

.topOffers:hover {
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.topOffers img {
    object-fit: cover;
    object-position: 40%;
}

.displayNone {
    display: none;
}

.topOffer h1,
.baldAblaufend h1 {
    padding: 50px;
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 0;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
}

.topOffer a {
    color: black;
    text-decoration: none;
}

.topOffersRight {
    margin-left: 10px;
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.topOffersRightTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auktionspreis,
.topOffersRightTop p {
    padding-right: 15px;
}

.topOffersRightTop h2 {
    font-size: 1.2em;
    margin-top: 5px;
}

.btnMehrAnzeigen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 9999px;
    font-size: 15px;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    width: 150px;
    transition: 0.2s;
}

.merkenButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-left: 210px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid rgb(205, 205, 205);
    background: url("./image/herz.png") no-repeat left;
    background-size: 15px;
    background-origin: content-box;
}

.merkenButton:hover {
    filter: invert(100%);
    background-color: #00b2ff;
    border: 1px solid #00b2ff;
    cursor: pointer;
}

.merkenButtonPressed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 210px;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size: 12px;
    font-weight: 500;
    background: url("./image/herz.png") no-repeat left;
    background-size: 15px;
    filter: invert(100%);
    background-color: #00b2ff;
    border: 1px solid #00b2ff;
    background-origin: content-box;
}

.merkenButtonPressed:hover {
    filter: invert(0%);
    background-color: white;
    border: 1px solid rgb(205, 205, 205);
    cursor: pointer;
}

.AutostarApp {
    background-color: #ff4d00;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35em;
}

.AutostarAppText {
    color: white;
    margin-left: 4em;
}

.AutostarAppUberschrift {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AutostarAppUberschrift img {
    filter: invert(100%);
    padding-bottom: 0.8em;
    margin-right: -0.7em;
    margin-left: -0.7em;
}

.AutostarApp h1 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0.2em;
    font-family: 'El Messiri', sans-serif;
}

.AutostarAppText p {
    font-size: 1.2em;
}

.stores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
}

.playstore,
.appstore {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-decoration: none;
    min-width: 11em;
}

.playstore:hover,
.appstore:hover {
    cursor: pointer;
}

.AutostarProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35em;
}

.AutostarProductBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.angebotMachen {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.angebotMachenBox {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 800px;
    min-height: 400px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    transition: 0.3s;
}

.angebotMachenBox:hover {
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
}

.angebotMachenBox p {
    text-align: center;
}

.angebotMachenBox h1 {
    text-align: center;
    margin-top: 1em;
    font-family: 'El Messiri', sans-serif;
}

.angebotMachenBoxText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-self: center;
    margin-top: 2em;
}

.angebotMachenBoxText p {
    text-align: left;
}

.angebotMachenBoxTextLinks,
.angebotMachenBoxTextRechts {
    width: 100%;
}

.angebotMachenBoxTextLinks {
    margin-left: 5em;
}

.btnJetztInserieren {
    justify-self: center;
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 20%;
    color: #ff6600;
    box-shadow: 0px 2px 2px rgb(255, 77, 0);
    cursor: pointer;
    margin-bottom: 2em;
    transition: .2s;
}

.btnJetztInserieren:active,
.btnJetztInserieren:focus,
.btnJetztInserieren:hover {
    border-color: #ff6600;
    outline: none;
}

.footer {
    min-height: 30em;
    background-color: #191f22;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footerArea {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    width: 70em;
}

.footerRegion {
    color: rgb(195, 195, 195);
    font-size: 0.8em;
}

.footerRegion p {
    margin-bottom: 0.7em;
}

.footerRegion h1 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.footerBelow {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footerFooter {
    color: rgb(195, 195, 195);
    font-size: 10px;
    text-align: center;
}

.footer img {
    justify-self: center;
    filter: invert(100%);
    margin-bottom: 1em;
    opacity: 80%;
}