@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
}

.navigationMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  align-self: flex-start;
}

.navigationMenuLogo {
  min-width: 200px;
}

.navigationMenuLogo {
  cursor: pointer;
}

.navigationElements {
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navigationElements li {
  display: table-cell;
  padding: 15px 0;
}

.navigationElements a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  color: black;
  list-style: none;
  text-align: center;
  transition: 0.1s;
}

.navigationElements a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff4d00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navigationElements a:hover {
  color: rgb(255, 77, 0);
}

.navigationElements a:hover:after {
  width: 100%;
  left: 0;
}

.navigationMenuButton {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigationMenuButton button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  width: 8em;
  color: black;
  font-size: 12px;
  transition: 0.5s;
}

.navigationMenuButtonAnmelden button:hover {
  color: rgb(255, 109, 46);
  cursor: pointer;
}

.navigationMenuButtonRegistrieren button {
  border: 1.5px solid rgb(255, 109, 46);
}

.navigationMenuButtonRegistrieren button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 109, 46);
}