h10 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
}

label {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.login__field {
    display: grid;
    margin: 1em;
}

.login__field__section {
    display: flex;
}


.accountManagement {
    min-height: 30em;
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.accountManagementBody {
    min-width: 90vw;
    min-height: 40em;
    display: flex;
    justify-content: space-between;
}

.accountManagementNavigation {
    min-width: 15em;
    min-height: 50em;
}

.accountManagementNavigationElements {
    min-width: 15em;
    display: grid;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.accountManagementNavigationElements li {
    display: table-cell;
    position: relative;
    padding: 0px 0;
}

.accountManagementNavigationElements a {
    text-decoration: none;
    min-width: 10em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    color: black;
    list-style: none;
    transition: 0.1s;
}

.accountManagementNavigationElements a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #ff4d00;
    left: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.accountManagementNavigationElements a:hover {
    color: rgb(255, 77, 0);
}

.accountManagementNavigationElements a:hover:after {
    width: 100%;
    left: 0;
}

.accountManagementNavigationElementsActive a {
    color: rgb(255, 77, 0);
}

.accountManagementNavigationElementsActive a:after {
    width: 100%;
    left: 0;
}

.accountManagementNavigationMeinKonto h3 {
    border-bottom: 2px solid #ff4d00;
}

.accountManagementElements {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    min-height: 40em;
    width: 42em;
}

.accountManagementElementsAcc {
    height: 40em;
}

.accountManagementElements button {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    width: 12em;
    color: rgb(0, 0, 0);
    font-size: 12px;
    border: 1.5px solid rgb(255, 109, 46);
    transition: 0.5s;
}

.accountManagementElements button:hover {
    cursor: pointer;
    background-color: rgb(255, 109, 46);
    color: white;
}

.keinFavorit {
    text-align: center;
    color: gray;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.auktionsAnzeige {
    display: grid;
    justify-content: space-around;
    background-color: white;
    padding-top: 1em;
    margin: 0 0 2em 0;
    width: 42em;
    height: 69em;
    border-radius: 10px;
    /* border: 1px solid rgb(194, 194, 194); */
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}

.auktionsAnzeige form {
    display: grid;
    justify-content: space-around;
    width: 50em;
    height: 70em;
}

.auktionsAnzeigeTop {
    display: grid;
    justify-content: space-around;
    width: 50em;
}

.auktionsAnzeigePics {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0 2em 0;
}

.auktionsAnzeigePics img {
    border-radius: 10px;
    margin: 1em;
}

.auktionsAnzeigePicsButton {
    display: grid;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    width: 20em;
}

.slideshow {
    height: 25em;
    width: 40em;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
}

.slide-bild {
    width: 100%;
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: white;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 2s;
}

.aktiv {
    opacity: 1;
}

.auktionsAnzeige img {
    object-fit: cover;
    object-position: 40%;
}

.auktionsAnzeigeDaten {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em 0;
}

.auktionsAnzeigeDaten input {
    justify-self: center;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 5px;
    padding-left: 15px;
    font-weight: 700;
    width: 13em;
    margin: 0px 0 20px;    
    transition: .2s;
}

.auktionsAnzeigeDaten input:active,
.auktionsAnzeigeDaten input:focus,
.auktionsAnzeigeDaten input:hover {
    outline: none;
}

.auktionsAnzeigeZeile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auktionsAnzeigeElement {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 14em;
}

.auktionsAnzeigeElement textarea {
    width: 30em;
    height: 10em;
}

.auktionsAnzeigeElementBeschreibung {
    justify-self: center;
}

.accountManagementSpaceAuktion {
    width: 2em;
}

.seperator {
    height: 0.5px;
    width: 70%;
    background-color: rgb(183, 183, 183);
    justify-self: center;
}

.auktionsAnzeigeBottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2.2em;
}

.auktionsAnzeigeBottom button {
    border: 1.5px solid rgb(255, 46, 46);
    border-radius: 10px;
}

.auktionsAnzeigeBottom button:hover {
    background-color: rgb(255, 46, 46);
}

.auktionsAnzeigeBottomSpeichern button {
    border: 1.5px solid #00c000;
    border-radius: 10px;
}

.auktionsAnzeigeBottomSpeichern button:hover {
    background-color: #00c000;
}

.gebotBox {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: white;
    margin: 0 0 2em 0;
    width: 550px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(194, 194, 194);
    transition: 0.2s;
}

.gebotBox:hover {
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.button {
    margin-left: 1em;
}


.gebotBox img {
    object-fit: cover;
    object-position: 40%;
}

.maxGebot img {
    filter: grayscale(100%);
}

.topOffersRight {
    width: 80%;
}

.geboteRight {
    width: 50%;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.auktionspreisGebot {
    margin: 1em 1em;
    color: #ff4d00;
}

.anfangspreis {
    color: gray;
}

.ueberboten {
    display: none;
    color: red;
}

.ueberboten2 {
    display: grid;
    color: red;
}

.accountManagementBox {
    display: grid;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: 25em;
    width: 60em;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.2s;
}

.accountManagementBox h2 {
    text-align: center;
}

.screen__content input {
    justify-self: center;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 5px;
    padding-left: 15px;
    font-weight: 700;
    width: 13em;
    margin: 0px 0 20px;
    transition: .2s;
}

.screen__content input:active,
.screen__content input:focus,
.screen__content input:hover {
    outline: none;
    border-bottom-color: #ff6600;
}

.accountAusloggenBox {
    height: 7em;
    width: 60em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.2s;
}

.accountAusloggenBoxLeft {
    margin-left: 2em;
}

.accountAusloggenBoxLeft h2 {
    margin-bottom: 0.6em;
}

.accountAusloggenBoxLeft p {
    font-size: 0.8em;
}

.accountAusloggenBoxRight {
    margin-right: 2em;
}

.accountAusloggenBoxRight button {
    border: 2px solid #ff4d00;
    background-color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    color: black;
    transition: 0.2s;
}

.accountAusloggenBoxRight button:hover {
    background-color: #ff4d00;
    color: white;
    cursor: pointer;
}

.accountManagementSpace {
    /* background-color: #ff4d00; */
    width: 15em;
    height: 10em;
}

@media only screen and (max-width: 1500px) {

    .accountManagementBox,
    .accountAusloggenBox {
        width: 42em;
    }

    .screen__content input {
        width: 8.5em;
    }
}

/* Meine Inserate */