h6 {
    font-size: 1em;
}

.produkt {
    min-height: 80em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.produktArea {
    height: 25em;
    width: 70em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.produktAreaLeft {
    height: 25em;
    width: 40em;
    border-radius: 10px;
    overflow: hidden;
}

.produktAreaLeft img {
    object-fit: cover;
    object-position: 40%;
}

.produktAreaLeft textarea:hover,
.produktAreaLeft textarea:focus,
.produktAreaLeft textarea:active {
    background-color: #ff6600;
}

.produktAreaRight {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    width: 20em;
    height: 25em;
}

.produktAreaRightElements {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.produktAreaRightElements h4 {
    color: rgb(255, 77, 0);
    text-align: center;
}

.produktAreaRight h5 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
}

.produktAreaRight h6 {
    font-size: 20px;
}

.produktAreaRight h7 {
    font-size: 12px;
    color: gray;
}

.separator {
    height: 0.7px;
    background-color: rgb(215, 215, 215);
    margin-top: 20px;
    margin-bottom: 20px;
}

.produktAreaRightElementsButton {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.produktAreaRightElementsButton form {
    display: grid;
    justify-content: center;
    align-items: center;
}

.angebotAufgebenButton {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 20em;
    color: black;
    font-size: 12px;
    border: 1.5px solid #ff6600;
    background-size: 15px;
    margin-bottom: 5px;
    transition: 0.2s;
}

.angebotAufgebenButton:hover {
    color: white;
    background-color: #ff6600;
    cursor: pointer;
}

.angebotAufgebenButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 19em;
    color: black;
    font-size: 12px;
    border: 1.5px solid #ff6600;
    background-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.angebotAufgebenButton:hover {
    color: white;
    background-color: #ff6600;
    cursor: pointer;
}

.merkenGroßButton {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 20em;
    color: black;
    font-size: 12px;
    border: 1.5px solid #ff6600;
    background-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.merkenGroßButton:hover {
    color: white;
    background-color: #ff6600;
    cursor: pointer;
}

.produktShortView {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 40em;
    /* box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1); */
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
}

.produktShortViewArea {
    width: 13em;
    height: 6em;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.produktShortViewField {
    display: flex;
    width: 12em;
    margin-left: 1em;
    overflow: hidden;
}

.produktShortViewField img {
    margin-right: 1em;
}

.produktShortViewField p {
    font-size: 0.7em;
    color: rgb(84, 84, 84);
}

.produktBeschreibung {
    justify-self: center;
    display: grid;
    justify-content: center;
    min-height: 8em;
    width: 40em;
    /* box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1); */
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
}

.produktBeschreibung h7 {
    width: 38em;
    margin-top: 0.7em;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin-bottom: 7px;
}

.produktBeschreibung p {
    width: 38em;
    height: 5em;
}

.angebotAufgeben {
    min-height: 18em;
    width: 45em;
    padding: 15px 0 10px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    transition: 0.2s;
}

.angebotAufgeben:hover,
.angebotAufgeben:active,
.angebotAufgeben:focus {
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
}

.angebotUberschrift {
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 5px 0 15px 0 ;
}

.angebotAufgebenBody {
    width: 40em;
}

.angebotAufgebenBody form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.angebotAufgebenLeft {
    margin: 15px 0 15px 0;
}

.angebotAufgebenLeft h7 {
    font-size: 15px;
    color: #000000;
    font-weight: 600;
}

.angebotAufgebenLeft h4 {
    font-size: 35px;
    font-weight: 600;
}

.angebotAufgebenLeftCounter h4 {
    color: rgb(255, 77, 0);
}

.showAngebote {
    display: flex;
    align-items: center;
    width: 20em;
    margin-top: 10px;
}

.showAngeboteTag {
    width: 40%;
}

.showAngebotePreis {
    text-align: right;
    width: 40%;
}

.angebotAufgebenRight {
    display: grid;
    margin: 20px 0 15px 0;
    align-self: flex-start;
}

.angebotAufgebenRight h7 {
    font-size: 13px;
}

.angebotAufgebenRight h8 {
    text-align: center;
    font-size: 13px;
    border-radius: 2px;
    color: gray;
    padding: 10px 0px 10px 0px;
    margin: 0 0 10px 0;
    border: 1px solid rgb(122, 122, 122);
}

.angebotAufgebenRight input {
    padding: 10px;
    margin-bottom: 20px;
}

.angebotAufgebenRight p {
    font-size: 10px;
    color: rgb(151, 151, 151);
}

.absendenButton {
    background: #fff;
    font-size: 14px;
    margin-top: 5px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #ff6600;
    box-shadow: 0px 2px 2px rgb(255, 77, 0);
    cursor: pointer;
    transition: .2s;
}

.absendenButton:active,
.absendenButton:focus,
.absendenButton:hover {
    border-color: #ff6600;
    outline: none;
}